@font-face {
  font-family: "Dulcinea";
  src: url("../public/fonts/Dulcinea.ttf") format("truetype");
}

:root {
  font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: #972822;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}

main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

nav {
  position: fixed;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: #5a6e27;
  color: white;
}

nav > a {
  margin: auto;
  font-size: 18px;
}

nav > a:hover,
footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-family: "Dulcinea", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  padding: 12px;
  color: #b38547;
  font-weight: 500;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 4px;
}

button {
  background-color: #5b7027;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #a7ab55;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:focus,
button:focus-visible {
  outline: 3px solid #a5d6a7;
  outline-offset: 2px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: fit-content;
  padding: 16px;
  background-color: #5a6e27;
  color: white;
}

@media (max-width: 426px) {
  h1 {
    font-size: 2.5em;
  }

  footer {
    grid-template-columns: auto;
    font-size: 16px;
  }

  main {
    margin-top: 40px;
    gap: 0;
  }

  p {
    margin: 0 0 12px;
  }
}
